/* Define la animación de fade-in */
@keyframes fadeInLeft {
    from {
    position: relative;
    left: -20px;
    opacity: 0; /* La opacidad inicial es 0 (invisible) */
    }
    to {
    left: 20px;
    opacity: 1; /* La opacidad final es 1 (visible) */
    }
}

.main-container{
    opacity: 0;
}

.fade-in-left {
    animation: fadeInLeft 0.6s ease-out; 
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación después de completarse */
}
  
  